# <font color="purple"><h2 align="center">PANDAS</h2></font>
* Pandas is a Python library used for working with data sets.
* It has functions for analyzing, cleaning, exploring, and manipulating data.
* Pandas is your second step towards Machine Learning (Data Science).

In [1]:
import pandas as pd

# Series
Like a column in a table/dataframe.

In [4]:
#creating a series

days=['Monday','Tuesday','Wednesday','Thursday','Firday','Saturday','Sunday']

my_series=pd.Series(days,index=range(1,8))
print(my_series)
type(my_series)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Firday
6     Saturday
7       Sunday
dtype: object

pandas.core.series.Series

In [5]:
#creating series using dictionary
dict={'1':'Monday','2':'Tuesday','3':'Wednesday','4':'Thursday','5':'Friday','6':'Saturday','7':'Sunday'}
ser=pd.Series(dict)
ser

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

# Dataframe
Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet.

### Creating a dataframe from series 
Note : Just a single column

In [6]:
#converting series into dataframe
my_df=pd.DataFrame(ser,columns=['Days'])
my_df

        Days
1     Monday
2    Tuesday
3  Wednesday
4   Thursday
5     Friday
6   Saturday
7     Sunday

### Creating a dataframe using dictionary

In [7]:
# creating a dataframe using a dictionary
max_temp=[18,19,20,20,21,16,21]
min_temp=[10,13,12,8,7,11,12]
event=['Rain','Thunderstorm','Rain','Sunny','Fog','Fog','Rain']
windspeed=[10,14,8,14,18,11,14]

weather={'Day':days,'Max Temperature':max_temp,'Min Temperature':min_temp,'Windspeed':windspeed,'Event':event}
df=pd.DataFrame(weather,index=range(1,8))

In [8]:
df

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     Monday               18               10         10          Rain
2    Tuesday               19               13         14  Thunderstorm
3  Wednesday               20               12          8          Rain
4   Thursday               20                8         14         Sunny
5     Firday               21                7         18           Fog
6   Saturday               16               11         11           Fog
7     Sunday               21               12         14          Rain

### Exporting a dataframe to a csv file

In [9]:
df.to_csv('weather data.csv')

### Importing from a csv file

In [10]:
new_df=pd.read_csv('weather data.csv')

In [11]:
new_df

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
0,1,Monday,18,10,10,Rain
1,2,Tuesday,19,13,14,Thunderstorm
2,3,Wednesday,20,12,8,Rain
3,4,Thursday,20,8,14,Sunny
4,5,Firday,21,7,18,Fog
5,6,Saturday,16,11,11,Fog
6,7,Sunday,21,12,14,Rain

In [10]:
new_df.shape #it returns a tuple which we can store in variables.

(7, 6)

In [11]:
a,b=new_df.shape
print('No of rows =',a,'\nNo of columns =',b)

No of rows = 7
No of columns = 6

### Rows

In [30]:
new_df.head(3)

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,80,Rain
1,Tuesday,19,13,14,89,Thunderstorm
2,Wednesday,20,12,8,78,Rain

In [13]:
new_df.head(3)

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,83,Rain
1,Tuesday,19,13,14,81,Thunderstorm
2,Wednesday,20,12,8,69,Rain

In [31]:
new_df.tail(2)

        Day  Max Temperature  Min Temperature  Windspeed  Humidity Event
5  Saturday               16               11         11        64   Fog
6    Sunday               21               12         14        61  Rain

In [15]:
new_df[1:5]

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
1,Tuesday,19,13,14,81,Thunderstorm
2,Wednesday,20,12,8,69,Rain
3,Thursday,20,8,14,57,Sunny
4,Firday,21,7,18,61,Fog

### Columns

In [32]:
print(new_df.columns)

Index(['Day', 'Max Temperature', 'Min Temperature', 'Windspeed', 'Humidity',
       'Event'],
      dtype='object')

In [34]:
new_df['Humidity']   #new_df.Humidity

0    80
1    89
2    78
3    55
4    70
5    64
6    61
Name: Humidity, dtype: int64

In [33]:
type(new_df['Humidity'])

pandas.core.series.Series

In [35]:
# returns a new datatframe
new_df[['Humidity','Day']]

   Humidity        Day
0        80     Monday
1        89    Tuesday
2        78  Wednesday
3        55   Thursday
4        70     Firday
5        64   Saturday
6        61     Sunday

In [20]:
temp=new_df[['Humidity','Day','Windspeed']]
temp

   Humidity        Day  Windspeed
0        83     Monday         10
1        81    Tuesday         14
2        69  Wednesday          8
3        57   Thursday         14
4        61     Firday         18
5        61   Saturday         11
6        63     Sunday         14

### Operations on DataFrame

In [21]:
new_df.max()

Day                   Wednesday
Max Temperature              21
Min Temperature              13
Windspeed                    18
Humidity                     83
Event              Thunderstorm
dtype: object

In [22]:
new_df['Humidity'].max()

83

In [23]:
new_df[['Humidity','Windspeed','Min Temperature']].max()

Humidity           83
Windspeed          18
Min Temperature    13
dtype: int64

In [24]:
new_df[new_df['Humidity']>80]

,Day,Max Temperature,Min Temperature,Windspeed,Humidity,Event
0,Monday,18,10,10,83,Rain
1,Tuesday,19,13,14,81,Thunderstorm

In [25]:
new_df.describe()

       Max Temperature  Min Temperature  Windspeed   Humidity
count         7.000000         7.000000   7.000000   7.000000
mean         19.285714        10.428571  12.714286  67.857143
std           1.799471         2.225395   3.302236  10.318730
min          16.000000         7.000000   8.000000  57.000000
25%          18.500000         9.000000  10.500000  61.000000
50%          20.000000        11.000000  14.000000  63.000000
75%          20.500000        12.000000  14.000000  75.000000
max          21.000000        13.000000  18.000000  83.000000

In [14]:
ty

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7 non-null      int64
 1   Day              7 non-null      object
 2   Max Temperature  7 non-null      int64
 3   Min Temperature  7 non-null      int64
 4   Windspeed        7 non-null      int64
 5   Event            7 non-null      object
dtypes: int64(4), object(2)
memory usage: 464.0+ bytes

NoneType