# <font color="purple"><h2 align="center">PANDAS</h2></font>
* Pandas is a Python library used for working with data sets.
* It has functions for analyzing, cleaning, exploring, and manipulating data.
* Pandas is your second step towards Machine Learning (Data Science).

In [1]:
import pandas as pd

# Series
Like a column in a table/dataframe.

In [2]:
#creating a series

days=['Monday','Tuesday','Wednesday','Thursday','Firday','Saturday','Sunday']

my_series=pd.Series(days,index=range(1,8))
print(my_series)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Firday
6     Saturday
7       Sunday
dtype: object

In [3]:
#creating series using dictionary
dict={'1':'Monday','2':'Tuesday','3':'Wednesday','4':'Thursday','5':'Friday','6':'Saturday','7':'Sunday'}
ser=pd.Series(dict)
ser

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

# Dataframe
Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet.

### Creating a dataframe from series 
Note : Just a single column

In [4]:
#converting series into dataframe
my_df=pd.DataFrame(ser,columns=['Days'])
my_df

        Days
1     Monday
2    Tuesday
3  Wednesday
4   Thursday
5     Friday
6   Saturday
7     Sunday

### Creating a dataframe using dictionary

In [5]:
# creating a dataframe using a dictionary
max_temp=[18,19,20,20,21,16,21]
min_temp=[10,13,12,8,7,11,12]
event=['Rain','Thunderstorm','Rain','Sunny','Fog','Fog','Rain']
windspeed=[10,14,8,14,18,11,14]

weather={'Day':days,'Max Temperature':max_temp,'Min Temperature':min_temp,'Windspeed':windspeed,'Event':event}
df=pd.DataFrame(weather,index=range(1,8))

In [6]:
df

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     Monday               18               10         10          Rain
2    Tuesday               19               13         14  Thunderstorm
3  Wednesday               20               12          8          Rain
4   Thursday               20                8         14         Sunny
5     Firday               21                7         18           Fog
6   Saturday               16               11         11           Fog
7     Sunday               21               12         14          Rain

### Exporting a dataframe to a csv file

In [7]:
df.to_csv('weather data.csv')

In [8]:
a,b=df.shape
print('No of rows =',a,'\nNo of columns =',b)

No of rows = 7
No of columns = 5